<h4 class="font-medium text-base text-white text-center">Create new room</h4>
<%#El mensaje de arriba no se reenderizará porque el que tiene el frame_tag_id es solo el formulario%>
<%= render "form", room: @room %>


